* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

html, 
body {
    background-color: #fff;
    color: #555;
    font-size: 20px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
    line-height: 1.17;
    text-rendering: optimizeLegibility;
}

header {
    font-size: 100%;    
    padding: 12px 0;
    background-color: #e74d3c;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 8px 0 #0000009a;
}

.main-nav {
    margin-right: 15px;
    float: right;
    list-style: none;
    font-size: 80%;
    margin: 3px 0;
}

.admin-nav {
    margin: 0 0 0 15px;
    float: left;
    list-style: none;
    text-transform: uppercase;
}

.main-nav a:link,
.main-nav a:visited {
    padding: 8px 8px;
    text-decoration: none;
    color: #fff;
    border: 7px solid transparent;
    transition: background-color 0.2s, border 0.2s;
}

.main-nav a:hover,
.main-nav a:active {
    padding: 8px 8px;
    background-color: #c0392b;
    border: 7px solid #c0392b;
    color: #ddd;
}

section {
    overflow: hidden;
}

.aside {
    display: block;
    width: 15%;
    height: 100vh;
    float: left;
    margin-top: 1px;
    color: #c0392b;
    padding: 0 40px;
    border-right: 1px solid #e1e7e9;
    background-color: #f5f6fa;
}

.main-category {
    margin-top: 20px;
}
.main-category-nav {
    font-size: 80%;
    margin: 10px 0 0 0;
}

.main-category-nav a {    
    color: #e74d3c;
    text-decoration: none;
}

.student-category {
    margin-top: 40px;
}

.student-category-nav {
    font-size: 80%;
    margin: 10px 0 0 0;
}

.student-category-nav a {
    color: #e74d3c;
    text-decoration: none;
}

.main-category-nav a:link,
.main-category-nav a:visited,
.student-category-nav a:link,
.student-category-nav a:visited {  
    transition: color 0.4s;
}

.main-category-nav a:hover,
.main-category-nav a:active,
.student-category-nav a:hover,
.student-category-nav a:active  {   
    color: #fff;  
}

.main-category-nav li,
.student-category-nav li { 
    padding: 10px 5px;
    list-style: none;
    transition: background-color 0.4s;
}

.main-category-nav li:hover,
.student-category-nav li:hover { 
    padding: 10px 5px;
    list-style: none;
    background-color: #c0392b;
}

main {
    display: block;
    float: right;
    background-color: #ecf0f1; 
    height: 100vh;
    width: 85%;
    margin-top: 1px;
}

#showresults {
    width: 100%;
    margin: 0px auto;
    background-color: #f5f6fa;
    height: 10vh;
}

.dash_head {
   font-size: 140%;
   padding: 30px 30px;
   letter-spacing: 1px;
}

.cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    margin: 30px;
}

.cards a {
    text-decoration: none;
}
.cards1,
.cards2,
.cards3,
.cards4 {    
    padding: 20px 30px;
    border-radius: 10px;
    color: white;
    transition: background-color 0.8s;
}
.cards1:hover,
.cards2:hover,
.cards3:hover,
.cards4:hover {    
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.600);
}
.cards1{
    background-color: rgba(30, 143, 255, 0.700);
}
.cards2{
    background-color: rgba(255, 0, 0, 0.700);
}
.cards3{
    background-color: rgba(255, 166, 0, 0.700);
}
.cards4{
    background-color: rgba(0, 128, 0, 0.700);
}

#welcome {
    display: none;
}

.h3, h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
}

.card .h3, .card h3 {
    display: block;
    font-size: 95%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
}

.table {
    font-weight: 300;
    line-height: 1.5;
    font-size: 80%;
}

.table thead {
    font-weight: 300;
}

.card h6 {
    font-size: 70%;
    font-weight: 300;
    float: left;
    margin-top: 15px; 
}
.card .pagination {
    font-size: 70%;
    float: right;
    margin-top: -40px;
}

.card form, .card .form-control, .card input[type=submit] {
    font-size: 90%;
}